# Environment
.env
*.env.local

# Node
node_modules/
dist/

# Build
frontend/dist/
backend/dist/

# Uploads
backend/uploads/

# Prisma
backend/prisma/migrations/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log
npm-debug.log*

# Docker
.dockerignore
